*{margin:0px;}
body{background-image:url("slika1.jpg");
background-repeat: no-repeat;       
background-size: cover;             
background-position: center center; 
background-attachment: fixed;}
h1{color:white;
font-family:Roboto;
text-align:center;
margin-top:75px;
font-size:330%;
transition:0.5s;
text-weight:bold;}

h1:hover{
font-size:500%;
transition:0.5s;
text-weight:bold;}


.Usluge{color:white;
font-family:Roboto;
text-alin:left;
margin-left:15px;
transition:0.5s;
font-weight:bold;
font-size:150%;}

h2{color:white;
font-family:Roboto;
text-alin:left;
font-size:200%;
margin-left:15px;
transition:0.5s;
font-weight:bold;}

h2: hover{
font-size:180%;
tarnsition:0.5s;
font-weight:bold;}


.Usluge li:hover{
font-size: 150%;  
color:white;}

.Cenovnik{color:white;
font-family:Roboto;
text-alin:left;
margin-left:15px;
transition:0.5s;
font-weight:bold;
font-size:150%;}



.Cenovnik li:hover{
font-size: 150%; 
color:white;}




